<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
 <head>
  <title>Index of /html/freshfood/demo/assets/sass/components/Mixins</title>
 </head>
 <body>
<h1>Index of /html/freshfood/demo/assets/sass/components/Mixins</h1>
<ul><li><a href="/html/freshfood/demo/assets/sass/components/"> Parent Directory</a></li>
<li><a href="_functions.scss"> _functions.scss</a></li>
<li><a href="_rtl.scss"> _rtl.scss</a></li>
<li><a href="_template-mixins.scss"> _template-mixins.scss</a></li>
</ul>
</body></html>
